.wrapper {
  padding: 16px 20px;
  background-color: #F8F8F8;
  border: 1px #F5F5F5 solid;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  margin-left: 16px;
  background: none;
  border: none;
  outline: 0;
  font-size: 20px;
}